<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
</head>

<body>

  <div id="vue-app">
    <div id="wrapper-lg">
      <button id="lg-btn=en" v-on:click="changeToEN()">English</button>
      <button id="lg-btn-bm" v-on:click="changeToBM()">Bahasa</button>
      <button id="lg-btn-cn" v-on:click="changeToCN()">HuaYu</button>
    </div>

    <div id="wrapper-egg">
      <div id="cont-title">EGG</div>

      <div id="wrapper-kampung" class="sub-wrapper">
        <div class="cont-sub-title sub-title">
          <h2 v-if="languagePref == 'en'" class="lg-en">Kampung Egg</h2>
          <h2 v-if="languagePref == 'bm'" class="lg-bm">Telur Kampung</h2>
          <h2 v-if="languagePref == 'cn'" class="lg-cn">Kampung</h2>
        </div>
        <div v-for="a in egg.kampung">
          <img v-bind:src="a.images" alt="...">

          <div v-if="languagePref == 'en'">
            <p class="lg-en">{{ a.sizeEN }}</p>
            <p class="lg-en">RM: {{ a.price1 }} 1 tray</p>
            <p class="lg-en">RM: {{ a.price5 }} 5 trays</p>
          </div>

          <div v-if="languagePref == 'bm'">
            <p class="lg-bm">{{ a.sizeBM }}</p>
            <p class="lg-bm">RM: {{ a.price1 }} satu</p>
            <p class="lg-bm">RM: {{ a.price5 }} lima</p>
          </div>

          <div v-if="languagePref == 'cn'">
            <p class="lg-cn">{{ a.sizeCN }}</p>
            <p class="lg-cn">RM: {{ a.price1 }}</p>
            <p class="lg-cn">RM: {{ a.price5 }}</p>
          </div>
        </div>
      </div>

      <div id="wrapper-economic" class="sub-wrapper">
        <div class="cont-sub-title sub-title">
          <h2 v-if="languagePref == 'en'" class="lg-en">Economic Egg</h2>
          <h2 v-if="languagePref == 'bm'" class="lg-bm">Telur Ekonomi</h2>
          <h2 v-if="languagePref == 'cn'" class="lg-cn">Kampung</h2>
        </div>
        <div v-for="a in egg.economic">
          <img v-bind:src="a.images" alt="...">

          <div v-if="languagePref == 'en'">
            <p class="lg-en">{{ a.sizeEN }}</p>
            <p class="lg-en">RM: {{ a.price1 }} 1 tray</p>
            <p class="lg-en">RM: {{ a.price5 }} 5 trays</p>
          </div>

          <div v-if="languagePref == 'bm'">
            <p class="lg-bm">{{ a.sizeBM }}</p>
            <p class="lg-bm">RM: {{ a.price1 }} satu</p>
            <p class="lg-bm">RM: {{ a.price5 }} lima</p>
          </div>

          <div v-if="languagePref == 'cn'">
            <p class="lg-cn">{{ a.sizeCN }}</p>
            <p class="lg-cn">RM: {{ a.price1 }}</p>
            <p class="lg-cn">RM: {{ a.price5 }}</p>
          </div>
        </div>
      </div>

      <div id="wrapper-chicken" class="sub-wrapper">
        <div class="cont-sub-title sub-title">
          <h2 v-if="languagePref == 'en'" class="lg-en">Chicken Egg</h2>
          <h2 v-if="languagePref == 'bm'" class="lg-bm">Telur Ayam</h2>
          <h2 v-if="languagePref == 'cn'" class="lg-cn">Chicken</h2>
        </div>
        <div v-for="a in egg.chicken">
          <img v-bind:src="a.images" alt="...">

          <div v-if="languagePref == 'en'">
            <p class="lg-en">{{ a.sizeEN }}</p>
            <p class="lg-en">RM: {{ a.price1 }} 1 tray</p>
            <p class="lg-en">RM: {{ a.price5 }} 5 trays</p>
          </div>

          <div v-if="languagePref == 'bm'">
            <p class="lg-bm">{{ a.sizeBM }}</p>
            <p class="lg-bm">RM: {{ a.price1 }} satu</p>
            <p class="lg-bm">RM: {{ a.price5 }} lima</p>
          </div>

          <div v-if="languagePref == 'cn'">
            <p class="lg-cn">{{ a.sizeCN }}</p>
            <p class="lg-cn">RM: {{ a.price1 }}</p>
            <p class="lg-cn">RM: {{ a.price5 }}</p>
          </div>
        </div>
      </div>

    </div>

  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/vue@next"></script>
  <script src="script.js"></script>
</body>

</html>