@media only screen and (max-width: 768px) {
}
body {
  background-color: #fff8ef;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
}
#wrapper-egg,
#wrapper-garden {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
