@media only screen and (max-width: 768px) {
}
body {
  background-color: #ffebd6;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
}
#wrapper-egg {
  background-color: #fff9f4;
}
#wrapper-egg,
#wrapper-garden {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}
